.router-link-exact-active {
    background: #00ece4 !important;
  }
  .vjs-tech{
    width: 100%;
    height: 100%;
  }
  .video-js{
    width: 100%;
    height: 100%;
  }
  .container1 .left{
    color: black !important;
  }
  .commom_dialog{
    background: rgba(9,31,60,.8);
    -webkit-box-sizing: border-box;
    border: 1px solid #226cbe;
    position: fixed;
    left: 200px;
    top: 100px;
    z-index: 200;
    width: 70%;
    height: 70% !important;
    .dialog__header{
      padding: 10px 20px 20px 20px;
      .header-title{
        color: rgb(255, 255, 255); 
        position: relative;
        font-size: 26px;
        border-image: linear-gradient(90deg,hsla(0,0%,100%,0),#0c5c92 20%,hsla(0,0%,100%,0) 99%) 2 2 2 2;
        border-bottom: 2px solid;
        .title_left{
          width: 120px;
          .circleIcon{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #0267d5;
            display: inline-block;
          }
        }
        .fontStyle{
          margin-top: -3.2%;
          font-weight: 600;
          span{
            display: inline-block;
            margin-right: 10px;
            padding: 5px 10px;
            cursor: pointer;
            background-image: url(../images/dialog_tab_bg.svg);
          }
          .tab_active{
            background-image: url(../images/dialog_tab_active_bg.svg) !important;
          }
        }
        .rightIcon{
          height: 44px;
          width: 150px;
          margin-top: -2.2%;
          float: right;
          background-size: 100% 100%!important;
          opacity: .7;
          background: url(../images/title_right.png);
        }
        .videoOff{
          position: absolute;
          top: -10px;
          z-index: 200;
          right: 10px;
        }
      }
    }
    .dialog_body{
      height: calc(100% - 148px);
      width: 100%;
      margin-bottom: 15px;
      .solutionContent{
        height: 100%;
        width: 100%;
        overflow: auto;
        padding:0 auto;
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        .dialog_progf {
          height: 100%;
          width: 100%;
          text-indent: 50px;
          text-align: left;
        }
        p{
          color: #ffffff;
        }
      }
    }
    .videoOff {
      height: 60px;
      width: 22%;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      margin: 5px auto 0px;
      font-weight: 700;
      line-height: 30px;
      background-image: url("../images/btn_bg.svg");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 500;
    }
    #echarts_part {
      height: calc(100% - 80px);
      width: 100%;
    }
  }
  .core-dynamic-content-container{
    ::-webkit-scrollbar {/*滚动条整体样式*/
      width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
      height: 5px;
          scrollbar-arrow-color: red;
      }
  
  ::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
      border-radius: 5px;
          -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
          background: rgba(0,0,0,0.2);
          scrollbar-arrow-color: red;
      }
  
  ::-webkit-scrollbar-track { /*滚动条里面轨道*/
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
          border-radius: 0;
          background: rgba(0,0,0,0);
      }
  }